[submodule "youbot_driver"]
	path = youbot_driver
	url = git@github.com:youbot/youbot_driver.git
	branch = hydro-devel
[submodule "youbot_description"]
	path = youbot_description
	url = git@github.com:mas-group/youbot_description.git
	branch = kinetic-devel
[submodule "youbot_driver_ros_interface"]
	path = youbot_driver_ros_interface
	url = git@github.com:youbot/youbot_driver_ros_interface.git
	branch = indigo-devel
[submodule "youbot_nav"]
	path = youbot_nav
	url = git@github.com:TexnoMann/youbot_nav.git
[submodule "robotics_math"]
	path = robotics_math
	url = git@github.com:TexnoMann/robotics_math.git
