[submodule "youbot_driver"]
	path = youbot_driver
	url = git@github.com:huynhtancuong/youbot_driver.git
	branch = intel-nuc-devel
[submodule "youbot_driver_ros_interface"]
	path = youbot_driver_ros_interface
	url = git@github.com:huynhtancuong/youbot_driver_ros_interface.git
	branch = noetic-devel
[submodule "youbot_nav"]
	path = youbot_nav
	url = git@github.com:huynhtancuong/youbot_nav.git
	branch = noetic-devel
[submodule "robotics_math"]
	path = robotics_math
	url = git@github.com:TexnoMann/robotics_math.git
[submodule "youbot_description"]
	path = youbot_description
	url = git@github.com:TexnoMann/youbot_description.git
[submodule "rf2o_laser_odometry"]
	path = rf2o_laser_odometry
	url = git@github.com:MAPIRlab/rf2o_laser_odometry.git
[submodule "brics_actuator"]
	path = brics_actuator
	url = https://github.com/wnowak/brics_actuator.git
[submodule "angles"]
	path = angles
	url = https://github.com/ros/angles.git
	branch = master
[submodule "rpg_svo_pro_open"]
	path = rpg_svo_pro_open
	url = https://github.com/huynhtancuong/rpg_svo_pro_open.git
